.container, .table, th, td {
    background-color: inherit;
    $table-bg: inherit;
}

.input-group {
    .sticky-top {
        top: 0;
    }
}

.table {
    .sticky-top {
        top: 37.5px;
        background-color: rgba(25, 23, 36, 0.9);
    }
}
