<div class="py-4 select-none text-white">
  <div class="mb-3 text-center">
    <h3 class="text-2xl font-bold">Jerry is over!</h3>
  </div>
  <div class="gap-2 text-center text-gray-300">
    <p>
      The February 2025 Jerry can still be found at
      <a routerLink="/archive/jerry/feb25" class="text-blue-400 underline hover:text-blue-300 transition">this
        archive</a>.
      Next Jerry is on {{ formatNextJerry() }}, or in:
    </p>
  </div>
  <div class="mt-4 text-center">
    <h1 class="text-3xl text-yellow-200 font-bold">{{ calcDiff() }}</h1>
  </div>
</div>
