<div class="animated-rolling-number flex justify-center" [style.height]="size">
  @for (char of rollingCharacters; track i; let i = $index) {
    @if (isDigit(char)) {
      <div
              [style.margin-top]="getMargin(i)"
              [style.transition]="'margin-top ' + getTransition(i) + ' ease-in-out'"
              [style.height]="'calc(10 * ' + size + ')'"
              [style.font-size]="size"
              class="animated-rolling-character"
        >
        @for (digit of [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]; track digit) {
          <div [style.height]="size">
            {{ digit }}
          </div>
        }
      </div>
    } @else {
      <div class="non-digit-character" [style.font-size]="size">{{ char }}</div>
    }
  }
</div>
