$size: 30px;

.animated-rolling-number {
    position: relative;
    height: 10 * $size;
    overflow: hidden;
    display: flex;
}

.animated-rolling-character {
    height: 10 * $size;
    display: flex;
    flex-direction: column;
    transition: margin-top 2s;
    font-size: $size;
    // margin-top: 0;

    div {
        height: $size;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
