// $size: 30px;

.animated-rolling-number {
    position: relative;
    // height: $size;
    overflow: hidden;
    display: flex;
}

.animated-rolling-character, {
    // height: 10 * $size;
    display: flex;
    flex-direction: column;
    //font-size: $size;

    div {
        // height: $size;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.non-digit-character {
    display: flex;
    //font-size: $size;
}
