<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <i class="bi bi-controller text-warning me-2"></i> Skyblock Website
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Games Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-joystick me-1"></i> Games
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/terminal/panes">Panes</a></li>
            <li><a class="dropdown-item" routerLink="/terminal/numbers">Numbers</a></li>
            <li><a class="dropdown-item" routerLink="/terminal/colors">Colors</a></li>
            <li><a class="dropdown-item" routerLink="/terminal">All terminals</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" routerLink="/fruit">Carnival Fruit Digging</a></li>
          </ul>
        </li>

        <!-- Skills Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-lightbulb me-1"></i> Skills
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="livemp">Live MP</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" routerLink="cowvsele">Moocow vs Elephant</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" routerLink="todo">To-do</a></li>
          </ul>
        </li>

        <!-- Misc Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-tools me-1"></i> Misc
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="archive/jerry/oct24">Jerry Oct24 Archive</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="https://github.com/minhperry/skyblock-simulator" target="_blank">
              Source Code
            </a></li>
            <li><a class="dropdown-item" routerLink="about">About</a></li>
          </ul>
        </li>

        <!-- Coming Soon Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-stars me-1"></i> Coming soon
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item disabled">More terminals</a></li>
            <li><a class="dropdown-item disabled">Dungeon chest simulator</a></li>
            <li><a class="dropdown-item disabled">Experiments</a></li>
          </ul>
        </li>
      </ul>

      <!-- Ko-fi Support Button -->
      <a href="https://ko-fi.com/minhperry" target="_blank"
         class="btn btn-outline-light rounded-pill d-flex align-items-center">
        Support <i class="bi bi-heart-fill ms-2 text-danger"></i>
      </a>
    </div>
  </div>
</nav>
