@Import '../panegame/panegame.component.css';

.number-game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 800px;
    margin: 16px auto;
}

button {
    margin: 5px;
}