<div class="container flex justify-center flex-col md:flex-row" data-bs-theme="dark">
  <div class="grz-wrapper mx-auto relative">
    <div class="grid7x7 original">
      @for (cell of content; track i; let i = $index) {
        <div (click)="handleClick(i)"
          [ngClass]="['grid-item', cell, ]">
          @if (debug) {
            <div class="user-select-none scaled" style="color: blue; font-weight: bold">{{ i }}
            </div>
          }
        </div>
      }
    </div>

    @if (debug) {
      <div class="grid7x7 reference">
        @for (cell of getFruitContents(); track i; let i = $index) {
          <div
            [ngClass]="['grid-item', cell, 'scaled']">
          </div>
        }
      </div>
    }
  </div>

  <div class="flex container align-center flex-col justify-center mt-3 md:mt-0 max-w-[450px]">
    <div class="flex flex-col justify-center my-2">
      <sb-rolling-number [value]="points" [transitionInMs]="750" [size]="'28px'"/>

      <div class="flex justify-center"> {{ reason }}</div>
    </div>

    <div class="flex align-center justify-center bordered"
      (click)="changeMode()"
      >
      <div [ngClass]="[shovelMode, 'shovel']"></div>
      <div class="select-none ms-2" [innerHTML]="shovelModeDesc"></div>
    </div>

    <div class="my-2 flex justify-center">
      <div [innerHTML]="shovelMessage"></div>
    </div>


    <div class="grid3x5 justify-items-center">
      <!-- Loop through 15 divs and conditionally apply classes based on the current turn -->
      @for (i of [].constructor(15); track idx; let idx = $index) {
        <div class="counter">
          <div [ngClass]="['shovel', 'scaled', shovelMode, idx < (15 - turn) ? '' : 'touched']"></div>
        </div>
      }
    </div>

    <div class="flex justify-center my-2 gap-2">
      <p-button severity="primary" (onClick)="restart()">Restart</p-button>
      <p-button severity="secondary" (onClick)="show()">Show</p-button>
    </div>
  </div>
</div>
<div class="container mx-auto mt-4">
  <p-accordion>
    <p-accordion-panel value="0">
      <p-accordion-header>
        Game Guide
      </p-accordion-header>
      <p-accordion-content>
        <h5 class="text-2xl font-semibold">Every data and ability is taken from
          <a href="https://wiki.hypixel.net/Carnival#Fruit_digging" class="text-blue-400 hover:text-blue-600">
            Carnival's Wiki Entry</a>.
        </h5>
        <p>However, there are some uncertainties that I have added my own implementation:</p>
        <ul class="list-inside list-disc">
          <li>Rums only replace Mangoes and Apples.</li>
          <li>There are some "encouraging points": Rum gives 8, Bomb gives 2 when exploded and 4 when
            saved by Coconut.
          </li>
          <li>
            Bombs blows up <b>some</b> fruit but not all.
            <b class="mc red">There is currently a bug that it can blow up none of the fruits.</b>
          </li>
          <li>
            Watermelon can chain.
          </li>
          <li>
            There is a cooldown of 0.75s between clicks.
          </li>
        </ul>
        <p>
          For debubgging and bug reporting, click this
          <p-button class="mx-2" severity="warn" (onClick)="debug=!debug">Debug</p-button>
          button.
          This will overlay the underlying fruit over current grid.
        </p>
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>
</div>
