@import '../../commons';

.grid7x10 {
  @include grid(7, 10, 0.25rem);
}

.inventory-view {
  display: grid;
  place-content: center center;
  $inventory-width: clamp(300px, calc(100vw - 40px), 780px);
  gap: calc(var($inventory-width) * .01);
  padding: calc(var($inventory-width) * .01);
  grid-template-columns: repeat(9, calc(var($inventory-width) * 0.1));
}
