<div class="container-sm d-flex justify-content-center flex-column flex-md-row my-3" data-bs-theme="dark">
  <div class="container inventory-view">
    @for (row of grid(); track _row; let _row = $index) {
      @for (node of row; track _item; let _item = $index) {
        @if (isNotNull(node)) {
          <div class="inventory-slot rich-item"
               (click)="onCellClick(_row, _item)"
               [class.selected]="selected === node">
            @if (node) {
              <div class="item-icon piece-icon" [ngClass]="getStateClass(node)"></div>
              @if (DEBUG) {
                <span>{{ node!.state.currentLevel }}</span>
              }
            }
          </div>
        } @else {
          <div class="inventory-slot"></div>
        }
      }
    }
  </div>
  <div class="container d-flex justify-content-center flex-column align-items-center">
    @if (selected) {
      <div class="tooltip-mc">
        @if (isLevelable(selected)) {
          <div id="name">
            {{ selected.perk.name }}
          </div>
          <div id="desc">
            <span class="mc gray">Level {{ selected.state.currentLevel }}</span>
            <span class="mc darkgray">/{{ selected.perk.maxLevel }}</span>
            <br/>
            <span [innerHTML]="getDescCalculated(selected) | parse | safeHtml"></span>
            <br/><br/>
            <span class="mc gray">Cost</span>
            <br>
            <span [innerHTML]="getPowderAmount(selected) | parse | safeHtml"></span>
          </div>
        } @else if (isAbility(selected)) {
          <span [innerHTML]="selected.perk.description | colorize | parse | safeHtml"></span>
        } @else {
          <span [innerHTML]="selected.perk.description | colorize | parse | safeHtml"></span>
        }
      </div>
      <div class="d-flex justify-content-center">
        @for (num of [1, -1, +10, -10]; track num) {
          <button class="btn btn-primary m-1"
                  (click)="modifySelectedLevel(num)">{{ (num > 0) ? '+' : '' }}{{ num }}
          </button>
        }
      </div>
    }
  </div>
</div>
<button (click)="DEBUG = !DEBUG">Togle debuk</button>