<!--div class="flex justify-center flex-col lg:flex-row container mx-auto">
  <div class="inventory-view container">
    @for (row of grid; track r; let r = $index) {
      @for (node of row; track it; let it = $index) {
        @if (isNotNull(node)) {
          <div class="inventory-slot rich-item"
               (click)="onCellClick2(r, it)"
               [class.selected]="isSelectedEqualNode(selected, node)"
          >
            @if (node) {
              <div class="item-icon piece-icon" [ngClass]="getStateClass(node)"></div>
            }
          </div>
        } @else {
          <div class="inventory-slot"></div>
        }
      }
    }
  </div>
  <div class="flex justify-center container">
    <div class="my-auto tooltip-mc">
      @let selected = sigSelected();
      @if (selected) {
        @if (isLevelable(selected)) {
          <span class="mc gray">Level {{ selected.state.currentLevel }}</span>
          <span class="mc darkgray">/{{ selected.perk.maxLevel }}</span>
          <br/>
          <span [innerHTML]="getDescCalculated(selected) | parse | safeHtml"></span>
          <br/>
          <span class="mc gray">Cost</span>
          <br>
          <span [innerHTML]="getPowderAmount(selected) | parse | safeHtml"></span>

          <div class="flex justify-center">
            <p-button class="btn btn-primary m-1" (click)="modifySelectedLevel(1)">+1</p-button>
            <p-button class="btn btn-primary m-1" (click)="modifySelectedLevel(-1)">-1</p-button>
            <p-button class="btn btn-primary m-1" (click)="modifySelectedLevel(10)">+10</p-button>
            <p-button class="btn btn-primary m-1" (click)="modifySelectedLevel(-10)">-10</p-button>
          </div>
        } @else if (isAbility(selected)) {
          <span [innerHTML]="selected.perk.description | colorize | parse | safeHtml"></span>
        } @else {
          <span [innerHTML]="selected.perk.description | colorize | parse | safeHtml"></span>
        }
      } @else {
        <div class="flex flex-col justify-center items-center">
          <span class="mc gray">Select a perk to</span>
          <br/>
          <span class="mc gray">see its description!</span>
        </div>
      }
    </div>
  </div>
</div-->

<div class="flex justify-center flex-col lg:flex-row container mx-auto">
  <!-- Left panel: the grid -->
  <div class="inventory-view container">
    @for (row of hotmServ.gridData; let _row = $index; track _row) {
      @for (node of row; let _col = $index; track _col) {
        @if (isNotNull(node)) {
          @let $node = node!;
          <div class="inventory-slot rich-item"
               (click)="onCellClick(_col, _row)">
            <div class="item-icon piece-icon" [ngClass]="getStateClass($node)"></div>
          </div>
        } @else {
          <div class="inventory-slot"></div>
        }
      }
    }
  </div>
  <!-- Right panel: the picker -->
  <div class="container flex justify-center">
    <div class="my-auto tooltip-mc">
      @if (hotmServ.selectedPos()) {
        @let pos = hotmServ.selectedPos()!;
        <!-- Because selectedPos can only be position for non-null items, data for that position is guaranteed to exist-->
        @let perkData = hotmServ.getNonNullConstantsAt(pos);
        @let selData = hotmServ.getNonNullDynamicsAt(pos);
        <div>
          <!-- Title -->
          <div class="flex flex-col items-center justify-center">
            <div class="font-semibold text-lg">
              {{ perkData.perk.name }}
            </div>
            <div class="flex flex-row">
              @if (perkData.type === PerkType.DYNAMIC) {
                <span class="mc gray">
                Level {{ selData.data.currentLevel }}
              </span>
                <span class="mc darkgray">/{{ perkData.perk.maxLevel }}</span>
              }
            </div>
          </div>
          <hr class="w-[66%] h-[3px] mx-auto my-2 bg-gray-500/40 border-0 rounded-sm "/>
          <!-- Description -->
          @if (isLevelable(perkData)) {
            <span [innerHTML]="hotmServ.formattedDescription() | parse | safeHtml"></span>
          } @else {
            <span [innerHTML]="perkData.perk.description | colorize | parse | safeHtml "></span>
          }
          @if (perkData.type === PerkType.DYNAMIC) {
            <div class="flex justify-center">
              Cost:&nbsp;
              <span [innerHTML]="hotmServ.formattedPowderCost() | parse | safeHtml"></span>
            </div>
          }
        </div>
      } @else {
        <div class="flex flex-col justify-center items-center">
          <span class="mc gray">Select a perk to see its description!</span>
        </div>
      }
    </div>
  </div>
</div>
