<div class="flex justify-center">
  <div class="my-4 p-3 rounded shadow container">
    <div class="flex justify-evenly flex-col md:flex-row">
      <!-- Left Panel -->
      <div class="text-center">
        <div class="mb-4">
          <h1 class="text-2xl font-semibold">Terminal - Panes</h1>
          <p>Click on the panes to change their color.</p>
          <p>The timer will start when you click the first pane.</p>
          <p>From {{ minPercent * 100 }}% up to {{ maxPercent * 100 }}% of the grid is filled.</p>
        </div>
        <div class="mb-3">
          {{ timer.time().toFixed(1) }}s
        </div>
        <button class="btn btn-primary btn-sm mb-4" (click)="onRestartButtonClick()">New game</button>
        <div class="sliders">
          <div class="mb-3">
            <label for="width-slider" class="form-label">Width:</label>
            <mat-slider id="width-slider" min="3" max="10" step="1" discrete>
              <input matSliderThumb [(value)]="config.width" (input)="onSliderChange($event, 'w')">
            </mat-slider>
          </div>
          <div>
            <label for="height-slider" class="form-label">Height:</label>
            <mat-slider id="height-slider" min="2" max="16" step="1" discrete>
              <input matSliderThumb [(value)]="config.height" (input)="onSliderChange($event, 'h')">
            </mat-slider>
          </div>
        </div>
      </div>

      <!-- Right Panel -->
      <div class="flex justify-center items-center">
        <sb-pane [grid]="config.grid" (cellClicked)="onCellClicked($event)"></sb-pane>
      </div>
    </div>
  </div>
</div>
