<div class="mt-5 px-4 md:container md:mx-auto" data-bs-theme="dark">
  <!-- Accordion Section 1 -->
  <div class="mb-5">
    <p-accordion value="0">
      <p-accordion-panel value="0">
        <p-accordion-header>
          &#x26A0; Requirements &#x26A0;
        </p-accordion-header>
        <p-accordion-content>
          <p>This setup assumes you have the following:</p>
          <ul class="list-disc list-inside space-y-1 text-white/90">
            <li>All armors and equipments on
              <sb-ff/>
              reforges, none on
              <sb-str/>
              reforges.
            </li>
            <li>Your
              <sb-ff/>
              setup stays the same during the comparision.
            </li>
            <li>You are not using any temporary
              <sb-str/>
              boosts like Gravity Talisman or Weird Tuba.
            </li>
            <li>You are either using Elephant or Mooshroom Cow pet Level 100 only, with the same pet item on both.</li>
            <li>You are using dedicated farming tools instead of Daedalus Axe.</li>
            <li>You are using Forceful power with
              <sb-str/>
              Tuning.
            </li>
          </ul>
          <p class="mt-3">
            The main point of this is to see with which pet you would have more
            <sb-ff/>
            Farming Fortune with.
          </p>
        </p-accordion-content>
      </p-accordion-panel>

      <p-accordion-panel value="1">
        <p-accordion-header>
          Disclaimer
        </p-accordion-header>
        <p-accordion-content>
          <p>
            Even when having more
            <sb-ff/>
            with Elephant, you still get more money per hour with Mooshroom
            because of all the extra mushroom drops.
          </p>
          <p>Any other improvements or suggestions are welcome.</p>
        </p-accordion-content>
      </p-accordion-panel>
    </p-accordion>
  </div>

  <!-- Accordion Section 2 -->
  <p-accordion [multiple]="true" value="1" class="mb-5">
    <p-accordion-panel value="0">
      <p-accordion-header>
        Levels / Tiers
      </p-accordion-header>
      <p-accordion-content>
        @for (sl of sliderSigs; track sl) {
          <sb-slider [min]="sl.min" [max]="sl.max" [step]="sl.step"
                     [label]="sl.label"
                     [preString]="sl.preString"
                     [fromValue]="sl.result"
                     [display]="sl.display"
                     [(value)]="sl.value"
                     (valueChange)="onSliderInputChange($event, $index)"/>
        }
      </p-accordion-content>
    </p-accordion-panel>

    <p-accordion-panel value="1">
      <p-accordion-header>
        Permanent Source Toggles
      </p-accordion-header>
      <p-accordion-content>
        @for (cbs of checkboxSig; track $index) {
          <sb-checkbox [check]="cbs.check()" [label]="cbs.label"
                       [value]="cbs.value" [text]="cbs.text"
                       (checkChange)="onCheckboxChecked($event, $index)"
          />
        }
      </p-accordion-content>
    </p-accordion-panel>

    <p-accordion-panel value="2">
      <p-accordion-header>
        Accessories
      </p-accordion-header>
      <p-accordion-content>
        @for (rad of radioSig; track rad; let i = $index) {
          <sb-radio [options]="rad.options"
                    [label]="rad.label"
                    [title]="rad.title"
                    [choice]="rad.choice()"
                    (choiceChange)="onChoiceChange($event, i)"/>
        }
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>


  <!-- Magical Power Input -->
  <div class="sticky top-0 z-10 mb-3 mt-3">
    <p-input-group>
      <p-input-number [(ngModel)]="mpField"
                      [min]="0" [max]="1000000" [useGrouping]="false"
                      placeholder="Enter your magical power"
      />
      <p-inputgroup-addon>Magical Power</p-inputgroup-addon>
    </p-input-group>
  </div>

  <!-- MP and Tuning Display -->
  <div class="space-y-2 mb-4 text-white/90">
    <div class="flex justify-between">
      <span>{{ mpField() ?? 0 }} Magical Power</span>
      <div class="text-right font-semibold">
        {{ computedStr() }}
        <sb-str/>
      </div>
    </div>
    <div class="flex justify-between">
      <span>{{ tuningField() }} Tuning Points</span>
      <div class="text-right font-semibold">
        {{ tuningField() }}
        <sb-str/>
      </div>
    </div>
  </div>

  <!-- Final Total Display -->
  <div class="flex justify-between text-xl font-semibold text-white mt-3">
    <span>Total:</span>
    <div>{{ totalStrSig() }}
      <sb-str/>
    </div>
  </div>

  <!-- Comparison Display -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-6">
    <div class="flex items-center p-3 rounded-xl border-4"
         [ngClass]="isWinner('mcow') ? 'border-yellow-400' : 'border-gray-600'">
      <div class="w-32 h-28 bg-cover bg-no-repeat scale-75 mr-4"
           style="background-image: url('/pets/mcow.png')"></div>
      <div class="flex-1 text-center text-lg text-white">
        {{ mCowFf }}
        <sb-ff/>
        Farming Fortune
      </div>
    </div>

    <div class="flex items-center p-3 rounded-xl border-4"
         [ngClass]="isWinner('ele') ? 'border-yellow-400' : 'border-gray-600'">
      <div class="w-32 h-28 bg-cover bg-no-repeat scale-75 mr-4"
           style="background-image: url('/pets/elephant.png')"></div>
      <div class="flex-1 text-center text-lg text-white">
        {{ eleFf }}
        <sb-ff/>
        Farming Fortune
      </div>
    </div>
  </div>
</div>
