<div class="wrapper container ">
    <ng-container *ngFor="let sl of sliders">
        <slider [min]="sl.min ?? 0" [max]="sl.max" [step]="sl.step"
            [label]="sl.label"
            [preString]="sl.preString"
            [extraStr]="sl.extraStr ?? ''"
            [fromValue]="sl.func"
            [display]="sl.display ?? defaultDisplay"
            [(value)]="sl.value"
            (valueChange)="calcTotal()"/>
    </ng-container>


    <ng-container *ngFor="let box of checkboxes; let i = index">
        <checkbox [check]="box.check" [label]="box.label"
            [value]="box.value"
            [text]="box.text"
            (checkChange)="onStateChange($event, i)" />
    </ng-container>

    <p> Your total strength: {{totalStr}}
        <str />
    </p>

    <p>
        This setup assumes you have the same setup for both pets: same farming armor and equipment not on any
        <str /> reforge, only
        <ff /> reforge.
    </p>

</div>