<li class="list-group-item">
    <div class="d-flex justify-content-between align-items-center">
        <div class="form-check align-items-center d-flex w-75">
            <input type="checkbox" class="form-check-input" [checked]="todo.completed" (change)="toggle()">
            <input type="text" [(ngModel)]="todo.text"
                   (ngModelChange)="save()"
                   class="form-control d-inline-block"
                   [class.completed]="todo.completed"
                   placeholder="Enter task"
                   [disabled]="todo.completed"
            >
        </div>
        <div class="ms-2 align-items-center btn-wrap">
            <button class="btn btn-secondary btn-sm m-1" (click)="addChild()">
                <i class="bi bi-plus-square"></i>
            </button>
            <button class="btn btn-danger btn-sm m-1"
                    (mousedown)="doPressing()"
                    (mouseleave)="stopPressing()"
                    (mouseup)="stopPressing()"
                    [class.long-press]="isPressing">
                <i class="bi bi-trash"></i>
            </button>
        </div>
    </div>

    <ul class="list-group">
        <ng-container *ngFor="let child of todo.children; let i = index">
            <app-todo-item [todo]="child" [siblingsRef]="todo.children"
                           [index]="i" [parents]="todo" />
        </ng-container>
    </ul>
</li>
