<div class="container my-4 p-3 rounded shadow">
  <div class="row">
    <!-- Left Panel -->
    <div class="col-md-4 text-center text-light">
      <div class="mb-4">
        <h1 class="h4">Terminal - Numbers</h1>
        <p>Click on the panes in ascending order.</p>
        <p>The timer will start when you click the first pane.</p>
      </div>
      <div class="timer mb-3 fs-5">
        {{ timer.time().toFixed(1) }}s
      </div>
      <button class="btn btn-primary btn-sm mt-2" (click)="onRestartButtonClick()">New game</button>
      <button class="btn btn-secondary btn-sm mt-2" (click)="toggleStupidity()">
        You are {{ !stupid ? 'smart' : 'dumb' }}
      </button>
      <div class="sliders mt-4">
        <div class="mb-3">
          <label for="width-slider" class="form-label">Width:</label>
          <mat-slider id="width-slider" min="6" max="15" step="1" discrete>
            <input matSliderThumb [(value)]="config.width" (input)="onSliderChange($event, 'w')">
          </mat-slider>
        </div>
        <div>
          <label for="height-slider" class="form-label">Height:</label>
          <mat-slider id="height-slider" min="1" max="10" step="1" discrete>
            <input matSliderThumb [(value)]="config.height" (input)="onSliderChange($event, 'h')">
          </mat-slider>
        </div>
      </div>
    </div>

    <!-- Right Panel -->
    <div class="col-md-8 d-flex justify-content-center align-items-center">
      <pane [grid]="config.grid" (cellClicked)="onCellClicked($event)"></pane>
    </div>
  </div>
</div>
