<div class="game-container">
    <div class="left-panel">
        <div class="description">
            <h1>Terminal - Colors</h1>
            <p>Click on the panes to change their color.</p>
            <p>Currently only support left click.</p>
            <p>The timer will start when you click the first pane</p>
            <p class="cycle">
                Cycle:
                <img src="/textures/darkgreen.png" alt="dark green" class="color" /> →
                <img src="/textures/blue.png" alt="blue" class="color" /> →
                <img src="/textures/red.png" alt="red" class="color" /> →
                <img src="/textures/orange.png" alt="orange" class="color" /> →
                <img src="/textures/yellow.png" alt="yellow" class="color" /> →
            </p>
        </div>
        <div class="timer-display">
            {{ timer.time().toFixed(1) }}s
        </div>
        <button (click)="onRestart()">New game</button>
        <div class="sliders">
            Side:
            <mat-slider min="2" max="16" step="1" discrete>
                <input matSliderThumb [(value)]="edgeSize">
            </mat-slider>
        </div>
    </div>
    <div class="right-panel">
        <pane [grid]="config.grid" (cellClicked)="onCellClick($event)"></pane>
    </div>
</div>