@import '../commons/panes.scss';

.grid {
    display: grid;
}

.row {
    display: flex;
    flex-direction: row;
}

.pane {
    position: relative;
    width: $size;
    height: $size;
    margin: 3px;
    user-select: none;

    &:hover {
        cursor: pointer;
        filter: brightness(1.4);
    }
}


.number {
    position: absolute;
    bottom: -3px;
    right: -3px;
    font-size: 16px;
    font-family: 'Minecraft', serif;
}
