$size: 48px;

@mixin scale($path) {
    background-image: url($path);
    background-size: $size $size;
    background-repeat: no-repeat;
    background-position: center;
}

.grid .green {
    @include scale('../../../../public/textures/green.png');
}

.grid .red {
    @include scale('../../../../public/textures/red.png');
}

.grid .yellow {
    @include scale('../../../../public/textures/yellow.png');
}

.grid .blue {
    @include scale('../../../../public/textures/blue.png');
}

.grid .purple {
    @include scale('../../../../public/textures/purple.png');
}

.grid .cyan {
    @include scale('../../../../public/textures/cyan.png');
}

.grid .orange {
    @include scale('../../../../public/textures/orange.png');
}

.grid .darkgreen {
    @include scale('../../../../public/textures/darkgreen.png');
}