@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/variables";

@mixin grid($col, $row, $gap: 0) {
  display: grid;
  grid-template-columns: repeat($col, 1fr);
  grid-template-rows: repeat($row, 1fr);
  grid-gap: $gap;
}
