
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use 'variables' as vars;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.elevation-classes();
@include mat.app-background();

// Define the theme object.
$skyblock-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($skyblock-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($skyblock-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($skyblock-theme);

:root {
    color-scheme: light dark;
    color: vars.$color-text;
}

html,
body {
    height: 100%;
    background-color: vars.$primBackgroundColor;
    color: vars.$primTextColor;
    margin: 0;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@font-face {
    font-family: 'Minecraft';
    src: url('../public/fonts/minecraftfont.woff'), url('../public/fonts/MinecraftTen.woff');
    font-style: normal;
    font-weight: normal;
    // text-rendering: optimizeLegibility;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.mc {
    &.red {
        color: #FF5555 !important;
    }

    &.aqua {
        color: #55FFFF !important;
    }

    &.gold {
        color: #FFAA00 !important;
    }

    &.green {
        color: #55FF55 !important;
    }

    &.blue {
        color: #5555FF !important;
    }

    &.purple {
        color: #AA00AA !important;
    }

    &.pink {
        color: #FF55FF !important;
    }

    &.black {
        color: #000000 !important;
    }

    &.darkblue {
        color: #0000AA !important;
    }

    &.darkgreen {
        color: #00AA00 !important;
    }

    &.darkaqua {
        color: #00AAAA !important;
    }

    &.darkred {
        color: #AA0000 !important;
    }

    &.gray {
        color: #AAAAAA !important;
    }

    &.darkgray {
        color: #555555 !important;
    }

    &.yellow {
        color: #FFFF55 !important;
    }

    &.white {
        color: #FFFFFF !important;
    }
}

