@import 'variables';

:root {
    color-scheme: light dark;
    color: $color-text;
}

html,
body {
    height: 100%;
    background-color: $primBackgroundColor;
    color: $primTextColor;
    margin: 0;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@font-face {
    font-family: 'Minecraft';
    src: url('../public/fonts/minecraftfont.woff'), url('../public/fonts/MinecraftTen.woff');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}