@use 'variables' as vars;

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Minecraft';
    src: url('../public/fonts/minecraftfont.woff'), url('../public/fonts/MinecraftTen.woff');
    font-style: normal;
    font-weight: normal;
    // text-rendering: optimizeLegibility;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.mc {
    &.red {
        color: #FF5555 !important;
    }

    &.aqua {
        color: #55FFFF !important;
    }

    &.gold {
        color: #FFAA00 !important;
    }

    &.green {
        color: #55FF55 !important;
    }

    &.blue {
        color: #5555FF !important;
    }

    &.purple {
        color: #AA00AA !important;
    }

    &.pink {
        color: #FF55FF !important;
    }

    &.black {
        color: #000000 !important;
    }

    &.darkblue {
        color: #0000AA !important;
    }

    &.darkgreen {
        color: #00AA00 !important;
    }

    &.darkaqua {
        color: #00AAAA !important;
    }

    &.darkred {
        color: #AA0000 !important;
    }

    &.gray {
        color: #AAAAAA !important;
    }

    &.darkgray {
        color: #555555 !important;
    }

    &.yellow {
        color: #FFFF55 !important;
    }

    &.white {
        color: #FFFFFF !important;
    }
}

