<div class="container mt-4" data-bs-theme="dark">
    <div class="accordion mb-4" id="huh">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#guide" aria-expanded="false" aria-controls="guide">
                    How to use
                </button>
            </h2>
            <div id="guide" class="accordion-collapse collapse" data-bs-parent="#huh">
                <div class="accordion-body">
                    <h2>This is your Skyblock or anything really todo list!</h2>
                    <p>
                        Like, you can use this for marking some items you are grinding for, like 655 for example.
                        Or, really, anything in real life can be applied too, your shopping list, exam revisal topics,
                        etc...
                    </p>

                    <h4>Categories</h4>
                    <p>
                        Use
                        <button class="btn btn-primary guide"><i class="bi bi-folder-plus"></i></button>
                        to add a new category. For each category, use
                        <button class="btn btn-secondary btn-sm guide"><i class="bi bi-folder"></i></button>
                        to view every to-dos of that category, and hold
                        <button class="btn btn-danger btn-sm guide"><i class="bi bi-trash"></i></button>
                        to delete.
                    </p>

                    <h4>To-do list</h4>
                    <p>
                        Use
                        <button class="btn btn-primary guide"><i class="bi bi-plus-circle"></i></button>
                        to add a new top level to-do to current category. For any to-do, use
                        <button class="btn btn-secondary btn-sm guide"><i class="bi bi-plus-square"></i></button>
                        to add a new to-do as its child. Hold
                        <button class="btn btn-danger btn-sm guide"><i class="bi bi-trash"></i></button>
                        to delete the current to-do as well as any of its child. <br/>
                        Checking a to-do will also check all of its child. <br/>
                    </p>

                    <h3>Disclaimer</h3>
                    <p>
                        This website ultilize your browser's local storage in order to work correctly,
                        thus, data are not persistent across your devices, and is only available on the ones
                        that you modified, locally. <br/>
                        There are no plan to support using data across devices because I cannot find a server
                        and a database.
                    </p>

                    <h4>To expect</h4>
                    <p>
                        To circumvent the reality above, an import/export feature will be coming soon.
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#migr" aria-expanded="false" aria-controls="migr">
                    Data migration
                </button>
            </h2>
            <div id="migr" class="accordion-collapse collapse" data-bs-parent="#huh">
                <div class="accordion-body">
                    <h2>Migrate your data to the new website</h2>
                    <p>
                        Since this module ultilize local browser storage for storing your data, I can't automatically
                        migrate data
                        to the new domain. You have to migrate it yourself. However the process is very simple:
                    </p>
                    <ol>
                        <li>Go to the old domain <a href="https://skyblock.7278008.xyz">https://skyblock.7278008.xyz</a>.
                        </li>
                        <li>Click the copy
                            <button class="btn btn-primary">
                                <i class="bi bi-copy"></i>
                            </button>
                            button.
                        </li>
                        <li>
                            Click this button
                            <button class="btn btn-primary" (click)="pasteClipboard()">
                                <i class="bi bi-clipboard-fill"></i>
                            </button>
                            to paste the copied content. If you are on Firefox, use the "Import & Export" dropdown
                            below.
                        </li>
                        <li>
                            Reload the website. That's it. You're done!
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#iue" aria-expanded="false" aria-controls="iue">
                    Import & Export
                </button>
            </h2>
            <div id="iue" class="accordion-collapse collapse" data-bs-parent="#huh">
                <div class="accordion-body">
                    <div class="container mt-4">
                        <div class="mb-3">
                            <h4>Import data</h4>
                            <textarea [(ngModel)]="clipboardData" class="form-control" rows="6"
                                      placeholder="Paste your JSON data here..."></textarea>
                        </div>
                        <button class="btn btn-primary mb-3" (click)="importFromTextArea()">Import
                        </button>

                        <div class="mb-3">
                            <h4>Export data</h4>
                            <pre class="bg-dark p-2 border"
                                 style="overflow: scroll;">{{ exportData }}</pre>
                        </div>
                        <div class="mb-3">
                            <h4>Categories</h4>
                            <pre class="bg-dark p-2 border"
                                 style="overflow: auto;">{{ JSON.stringify(categories, null, 2) }}</pre>
                        </div>
                        <button class="btn btn-secondary" (click)="writeToClipboard()">Export</button>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="title-btn d-flex align-items-center">
        <h3>Categories</h3>
        <button class="btn btn-primary" (click)="addCategory()">
            <i class="bi bi-folder-plus"></i>
        </button>
    </div>

    <div class="mb-3">
        <ul class="list-group mt-3">
            <li *ngFor="let category of categories; let i = index"
                class="list-group-item d-flex justify-content-between align-items-center">
                <input type="text" [(ngModel)]="category.name"
                       class="form-control d-inline-block w-75"
                       (blur)="renameCategory(category, category.name)">
                <div>
                    <button class="btn btn-secondary btn-sm m-1" (click)="selectCategory(category)">
                        <i class="bi bi-folder"></i>
                    </button>
                    <button class="btn btn-danger btn-sm m-1"
                            (mousedown)="doPressing(i)"
                            (mouseleave)="stopPressing()"
                            (mouseup)="stopPressing()"
                            [class.long-press]="isPressing && longPressIndex === i"
                    >
                        <i class="bi bi-trash"></i>
                    </button>
                </div>
            </li>
        </ul>
    </div>

    <div *ngIf="selectedCategory" class="mt-5 mb-5">
        <div class="title-btn d-flex align-items-center mb-3">
            <h4>{{ selectedCategory.name }}</h4>
            <button class="btn btn-primary" (click)="addTodo()">
                <i class="bi bi-plus-circle"></i>
            </button>
        </div>
        <ul class="list-group">
            <ng-container *ngFor="let todo of selectedCategory.todos; let i = index">
                <app-todo-item [todo]="todo" [siblingsRef]="selectedCategory.todos" [index]="i"/>
            </ng-container>
        </ul>
    </div>
</div>
