.list-group-item {
    padding: 3px;
}

.form-control {
    border: 0;

    &:focus {
        box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
    }
}

.guide {
    cursor: default;
}

.accordion-button:not(.collapsed) {
    background-color: inherit;
}

.title-btn {
    .btn {
        margin-left: auto;
    }

    h3, h4 {
        margin-bottom: 0;
    }

}
