@import '../../variables.scss';

.home {
    text-align: center;
    margin: 10px 30px 10px;

    h1 {
        color: $color-muted
    }

    p {
        color: $color-text
    }
}

.md-wrapper {
    padding: 0px 30px 50px;

    h1 {
        margin-left: 30px;
    }

    .title {
        text-align: center;
    }

    li {
        font-size: 48px;
    }
}
