<div class="alert alert-info m-2" role="alert" data-bs-theme="dark">
    I am testing
    <a href="https://chatgpt.com/share/671c2c1c-136c-8006-94b4-ef2bee014f64>">Server Side Rendering</a>
    under <a href="https://skyblock-ssr.minhperry.de">https://skyblock-ssr.minhperry.de</a>.
    Please try and give me some feedback.
</div>
<div class="home">
    <h1>Welcome to the fucking Skyblock simulator!</h1>
    <p>Use the navigation bar to go to your category!</p>
</div>
<div class="md-wrapper">
    <div class="title">
        <h2>Changelog</h2>
    </div>
    <markdown [src]="'CHANGELOG.md'" />
</div>
