<div class="home">
  <h1>Welcome to the Skyblock Website!</h1>
    <p>Use the navigation bar to go to your category!</p>
    <h5>
        <b class="mc red">NEW!</b> This site now operates under
        <a href="https://chatgpt.com/share/671c2c1c-136c-8006-94b4-ef2bee014f64">Server Side Rendering</a>
        technology.
    </h5>
  <h3>I am redesigning this site using newer and better technologies! Expect an update within the next 2 weeks!</h3>
  <p>Preview at: <a href="https://skyblock-preview.minhperry.de">https://skyblock-preview.minhperry.de</a></p>
</div>
<div class="md-wrapper">
  <div class="title">
  <h2>Changelog</h2>
    </div>
  <markdown [src]="'CHANGELOG.md'"/>
</div>
