<sb-jerry-progress/>
<div class="grid grid-cols-1 gap-3 text-center mb-3">
  <h3>Jerry Mayor Cycle {{ month }} (Your Local Time)</h3>
</div>
<div class="select-none">
  Show seconds:
  <p-toggle-switch [(ngModel)]="showSecondSig"/>
</div>
<div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 gap-3 justify-items-center">
  @for (mayor of mayors; track $index) {
    <div class="my-2 min-w-[75%]">
      <sb-single-mayor-view [mayor]="mayor" [isActive]="isMayorActive(mayor)" [showSecond]="showSecondSig()"/>
    </div>
  }
</div>

