<div class="container py-4">
    <div class="row">
        <div class="col text-center mb-3">
            <h3>Mayor Cycle (Local Time)</h3>
        </div>
    </div>
    <div class="row justify-content-center row-gap-3">
        <div class="col-lg-2 col-md-4 col-6" *ngFor="let mayor of mayors; let i = index">
            <div class="mayor-container p-2 mb-4 border rounded text-center"
                 [ngClass]="{'active': isMayorActive(i)}">
                <div *ngIf="mayor.imageSrc">
                    <img [src]="mayor.imageSrc"
                         alt="{{mayor.name}}"
                         class="img-fluid mayor-img user-select-none"
                         (mouseenter)="showPerks($event, mayor)"
                         (mouseleave)="hidePerks()"
                         (mousemove)="updateTooltipPosition($event)"
                         (click)="togglePerks($event, mayor)"
                         >
                </div>
                <div *ngIf="!mayor.imageSrc" class="mayor-unknown user-select-none">
                    <span>{{ mayor.name }}</span>
                </div>
                <p class="text-light">{{ getLocalTime(getMayorStartTime(i)) }}</p>

                <p *ngIf="isEventActive(mayor, i)" class="text-info">
                    {{ mayor.eventName }}: {{ getTimeLeftUntilEventEnds(mayor, i) }}
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Perks display -->
<div id="perks-popup" class="tooltip bs-tooltip-top" role="tooltip">
    <div class="tooltip-inner">
        <div id="perks-content"></div>
    </div>
</div>
