.mayor-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.mayor-img {
    max-height: 35vh;
}

.active {
    background-color: rgba(255, 211, 0, 0.19);
}

#perks-popup {
    display: none;
    position: absolute;
    z-index: 1000;

    &.show {
        display: block;
    }

    #perks-content {
        user-select: none;
    }

    .tooltip-inner {
        background-color: rgb(0, 0, 0, 1);
        border-radius: 5px;
        border: 3px solid rgba(229, 229, 229);
        max-width: max(35vw, 250px);
        text-align: left;

        p {
            margin-bottom: 10px;

            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
}

.mayor-unknown {
    font-size: 2rem;
    color: #ccc;
    text-align: center;
}
