.mayor-container {
    position: relative;
}

.mayor-img {
    max-height: 35vh;
}

.active {
    background-color: rgba(208, 208, 208, 0.1);
}

#perks-popup {
    display: none;
    position: absolute;
    z-index: 1000;

    &.show {
        display: block;
    }
}

.mayor-unknown {
    font-size: 2rem;
    color: #ccc;
    text-align: center;
}
